/* ~~~~~~~~~~LAYOUTS~~~~~~~~~~~ */
/* NAVBAR */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 906px;
    margin: 0 auto;
}

header nav div#personal-brand, header nav ul {
    margin: 10px !important;
}

header nav img.logo-small {
    display: none;
}

header .title {
    display: none;
    font-size: 30px;
}

header nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-start;
    padding: 12px 0 0 0;
}

header nav ul li {
    padding: 5px;
}

/* NUTSHELL */

main div#nutshell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin-bottom: 10px;
}

main div#categories {
    display: flex;
    grid-gap: 7px;
    height: auto;
    justify-content: center;
    flex-wrap: nowrap;
}

div#nutshell img {
    width: 250px;
    
}



main div.category {
    display: flex;
    justify-content: center;
}

main div.category img {
    max-width: 100%;
    height: auto;
}

/* PROJECTS */

div.arrow-cont {
    height: 21px;
    display: flex;
    justify-content: center;
    grid-gap: 7px;
    margin-top: -25px;
}

div.arrow {
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: center;
}

i.fa-caret-up {
    position: center;
}

div.proj-cont {
    background-color: #E38D78;
}

div.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 0;
    background-color: #E38D78;
}

div.projects project-card {
    margin-bottom: 20px;
}

main div.hidden {
    display: none !important;
}

div.project {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

div.card {
    margin-top: 10px;
    border: 1px solid #554D56;
}

div.card-body {
    display: flex;
    justify-content: space-around;
}

img.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 225px;
}

div.project h2 {
    text-align: center;
}

p.card-text {
    height: 80px;
}

/* SEE MORE */

main div.see-more {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #554D56;
    height: 40px;
}

main div.see-more h2 {
    color: white;
    font-size: 20px !important;
    margin-bottom: -18px;
}

main div.see-more div {
    margin-bottom: -18px;
}

/* CONTACT FORM */

div.contact-section h2 {
    text-align: center;
    font-size: 35px;
}


/* FOOTER */

footer {
    display: flex !important;
    justify-content: space-between;
    flex-wrap: nowrap;
}

footer div.logo {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;

}

footer div.icons-small {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75px;
    margin-right: 15px;
}
footer div.icons {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 75px;
    margin-right: 15px;
}

footer div img {
    max-width: 60px;
    height: auto;
    margin: 5px;
}

footer h3 {
    display: inline;
    padding-left: 15px;
}


/* MEDIA QUERY FOR TABLET */

@media screen and (min-width: 768px) {

    /* HEADER */

    div#personal-brand img {
        width: 200px;
    }

    header nav ul {
        flex-direction: row;
        width: 400px;
        justify-content: space-between;
        align-self: center;
        padding: 0;
    }

    nav ul li {
        font-size: 28px !important;
    }

    header .title {
        display: inline;
    }

    header nav div#personal-brand {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 300px;
    }

    /* NUTSHELL */

    main div#categories {
        display: flex;
        grid-gap: 20px;
        height: auto;
        justify-content: center;
        flex-wrap: nowrap;
    }

    div#nutshell img {
        width: 400px;
        
    }

    main div.arrow-cont {
        grid-gap: 20px;
    }

    /* PROJECTS */
    div.projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    /* CONTACT FORM */
    div.inputs {
        width: 650px;
    }

    div.contact-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* FOOTER */
    footer div.logo {
        padding: 0 30px 10px;
    }

    footer div.icons {
        display: flex;
        padding: 0 30px 10px;
        width: 200px;
    }

    footer div.icons-small {
        display: none;
    }

}

@media screen and (min-width: 1024px) {

    /* HEADER */
    header nav {
        margin-top: 15px;
    }

    header nav div#personal-brand {
        padding-left: 75px;
    }

    header nav ul {
        flex-direction: row;
        width: 475px;
        justify-content: space-between;
        align-self: flex-start;
        padding: 20px 50px 0 0;
    }

    nav ul li {
        font-size: 30px !important;
    }

    header nav div#personal-brand, header nav ul {
        margin: 10px 0 !important;
    }

    header .title {
        display: inline;
    }

    /* NUTSHELL */

    div#nutshell {
        margin-top: -45px;
    }

    /* PROJECTS */
    div.projects {
        justify-content: space-around;
        max-width: 906px;
    }

    /* CONTACT FORM */
    div.inputs {
        width: 906px;
    }

    /* FOOTER */
    footer {
        max-width: 906px;
        margin: 0 auto !important;
    }

    footer div.logo {
        padding: 0 0 10px;
    }

    footer div.icons {
        display: flex;
        padding: 0 0 10px;
        width: 200px;
    }
}


/* ~~~~~~~~~~~~ STYLES ~~~~~~~~~~~ */
body {
    background-color: #F6EFA2;
    color: #554D56;
}

div.projects {
    border-top: 25px solid #E38D78;
    padding-top: 15px;
}

div.project-details {
    background-color: #554D56;
    color:#9cdcfc;
}

/* Please note that the below rule was taken from https://stackoverflow.com/questions/31391459/how-can-i-expand-a-child-div-to-100-screen-width-if-the-container-div-is-smalle */

project-details {
    width: 100vw !important;
    margin-left: calc(-50vw + 50%) !important;
}

div.card {
    /* background-color: #D7F1FE; */
}

p.card-text {
    font-family: 'Lora', serif;
}

h1, h2, h3, li {
    font-family: 'Playfair Display', serif !important;

}

h1 {
    font-size: 40px !important;
}

h2 {
    font-size: 25px !important;
}

li {
    font-size: 16px !important;
}

nav ul a, nav ul a:hover, nav ul a:visited, nav ul a:active {
    text-decoration: none;
    color: inherit;
}

a.card-link {
    border: 3px solid #554D56;
    width: 150px;
    height: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: #9cdcfc;
    color: #554D56;
    font-family: 'Lora', serif;
    font-weight: 700;
}

i.fa-caret-up {
    color: #E38D78;
}

.form-label, .form-control {
    font-family: 'Lora', serif;
}